



#bodyx {
    background-image: url("food.jpg");
    width:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden; 
    
    
}


#one{
    float: left;
    /*resize:both;
    overflow: auto;*/
    position: relative;
    top: 30px;
    
    background-color: rgb(33, 23, 119);
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#two{
    float: left;
    /*resize:both;
    overflow: auto;*/
    position: relative;
    top: 30px;
    background-color: rgb(33, 23, 119);
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#three{

    
    float: left;
    /*resize:both;
    overflow: auto;*/
    position: relative;
    top: 30px;
    background-color: rgb(33, 23, 119);
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#box {
   top: -50px;
  }
  #box2 {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 5px solid rgb(221, 38, 53);
    margin: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 30%;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif}

    #Ingre{
        position: relative;
        top: -30px;
        left: -10px;
        
    }
#ingredients{

    color: aliceblue;
}

#method{

    color: aliceblue;
}
#cookingmethod{
    position: relative;
    top: -30px;
    left: -10px;
}
  #list {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(23, 97, 56);
    position: relative;
    
    color: brown;
    padding: 5px;
    margin: 10px;
    
    
    
    
  }



  #box4 {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 5px solid rgb(221, 38, 53);
    margin: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 30%;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif}

    #Ingre2{
        position: relative;
        top: -30px;
        left: -10px;
    }
#ingredients2{

    color: aliceblue;
}

#method2{

    color: aliceblue;
}
#cookingmethod2{
    position: relative;
    top: -30px;
    left: -10px;
}
  #list2 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(23, 97, 56);
    position: relative;
   
    color: brown;
    padding: 5px;
    margin: 10px;
     }


      #box6 {
        position: absolute;
        top: -10px;
        right: -10px;
        border: 5px solid rgb(221, 38, 53);
        margin: 10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        width: 30%;
        font-size: medium;
        font-family:Arial, Helvetica, sans-serif}
    
        #Ingre3{
            position: relative;
            top: -30px;
            left: -10px;
        }
    #ingredients3{
    
        color: aliceblue;
    }
    
    #method3{
    
        color: aliceblue;
    }
    #cookingmethod3{
        position: relative;
        top: -30px;
        left: -10px;
        
    }
      #list3 {
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: rgb(23, 97, 56);
        position: relative;
        color: brown;
        
        padding: 5px;
        margin: 10px;}





.container {
    @media screen and (min-width: 992px) {

        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        #one {
          
          width: 33.33%;
          display: flex;}
        
    
        #two{
            
            width: 33.33%;
            display: flex;}
        
    
        #three{
            
            width: 33.33%;
            display: flex;}
        
      }
    
    /* On screens that are 992px wide or less, go from four columns to two columns */
    @media screen and (max-width: 991px){

        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        
        justify-content: space-evenly;
        align-items: flex-start;
        #one {
          width: 30%;
          
          float: inline-start;
          
         
        }
    
        #two{
            width: 30%;
            
            float: inline-end;
            
        }
    
        #three{
            width: 80%;
            float: inline-end;
            
            
        }} 
    
        
        
    
      
      /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 866px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        #one {
            width: 75%;
            
            float: inline-start;
            
          }
      
          #two{
              width: 75%;
              
              float: inline-start;
              
          }
      
          #three{
              width: 75%;
              
              float: inline-start;
              
          }
      }
    

}